
  <div id="lista-usuarios">
    <h4>Listado de usuarios</h4>
    <ul>
      <li *ngFor="let user of userList">
          - <a [routerLink]="['user', user.id]">{{ user.name }}</a>
      </li>
    </ul>
  </div>

  <div>
    <h4>Filtrar por:</h4>
    <form>
        <input
          type="text"
          name="user"
          id="name"
          [(ngModel)]="userName"
          (ngModelChange)="searchUsers()"
          placeholder="Nombre..."
        />
      </form>
  </div>

