<p>Usuario: {{ user.name }}</p>

<div id="albums">
  <h2>Albums</h2>

  <ul>
    <li *ngFor="let album of albums">
      - {{ album.title }} <br />
      <img [src]="album.thumbnail.thumbnailUrl" alt="Album thumbnail" />
    </li>
  </ul>
</div>

<div id="posts">
  <h2>Posts</h2>
  <ul>
    <li *ngFor="let post of posts">
      <p>Título: {{ post.title }}</p>
      <p>Contenido: {{ post.body }}</p>
      <h4>Comentarios:</h4>
      <ul id="comments">
        <li *ngFor="let comment of post.comments">
          <p>Nombre (email): {{ comment.name }} ({{ comment.email }})</p>
          <p>Comentario: {{ comment.body }}</p>
        </li>
      </ul>
    </li>
  </ul>
</div>
