*{
  font-family: 'Roboto';
}

ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#albums{
  ul{
    background: #f3f3f3;
    padding: 10px;

    img{
      margin: 10px 0px;
    }
  }
}

#posts{
  li{
    background: #f3f3f3;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  #comments{
    li{
      background: #fff0b7;
    }
  }
}
