*{
  font-family: 'Roboto';
}

nav{
  margin-bottom: 20px;

  button{
    cursor: pointer;
    border: none;
    background: #e04545;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  }
}

